@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
/* globals.css */
html,
body {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: none;
}
