@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
/* globals.css */
html,
body {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Prevent weird iOS overscroll / rubber band from breaking touch */
body {
  overscroll-behavior-y: none;
}


